<div class="modal">
<header class="bar bar-header bar-balanced">
<h1 class="title">Resim Incele</h1>
<div class="button button-clear" ng-click="resim_modal.hide()"><span class="icon ion-close"></span></div>
</header>
<content has-header="true" padding="true">
    <img class="full-image" ng-src="{{resimModalSrc}}" alt="">
</content>
<div class="bar bar-footer">
    <button style="margin-top:-3px;height:40px;" class="button button-full button-assertive" ng-click="resmiSil()">Resmi Sil</button>
</div>
</div>